<a href="/logout" class="btn btn-info " style="margin-top:5px;">Logout</a>
<div class="optionDiv">
    <button class="btn">
        <a href="/teacher/viewall">View All Students</a>
    </button>
    <button class="btn">
        <a href="/teacher/add">Add Student</a>
    </button>
</div>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    const messages = '<%= message %>';
    if (messages == "Logged in successfully.") {
        alertify.set('notifier', 'position', 'bottom-right')
        alertify.success(messages);
    }
</script>